<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{parte1}}</title>
</head>

<body>
  <form action="/api/usuario/actualizar-email-responsable" method="post">

    <ul>

      <input type="hidden" id="usuario" name="usuario" value={{ usuario }}>
      <input type="hidden" id="token" name="token" value={{ token }}>
      <input type="hidden" id="codIdioma" name="codIdioma" value={{ codIdioma }}>
      
      <p>{{parte2}}</p>
      <li>
        <label for="update">{{parte3}}:</label>
        <input type="email" id="email" name="email">
      </li>
      <li class="button">
        <button type="submit">{{parte4}}</button>
      </li>
    </ul>

  </form>

</body>

</html>