<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{cambiarContrasenia}}</title>
</head>

<body>
  <form action="/api/actualizar-contrasenia" method="post">
    
    <ul>
     
      <input type="hidden" id="email" name="email" value={{ email }} >
      <input type="hidden" id="codIdioma" name="codIdioma" value={{ codIdioma }} >
      
      <li>
        <label for="newPass">{{nuevaContrasenia}}:</label>
        <input type="password" id="newPass" name="newPass">
      </li>
      <li>
        <label for="confirmPass">{{confirmarContrasenia}}:</label>
        <input type="password" id="confirmPass" name="confirmPass">
      </li>
      <li class="button">
        <button type="submit">{{confirmar}}</button>
      </li>
 </ul>

  </form>

</body>

</html>