<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>



<body>

    <p>{{parte2}}</p>

</body>


</script>

</html>