<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
</head>

<body>
    <h1>{{parte2}}</h1>
    <p>{{parte3}} {{nombre}}</p>

    <p>{{parte4}}.</p>
    <a href="{{urlConfirmar}}">
        <button>{{parte5}}</button>
    </a>
    <!-- <p>{{parte6}}</p> -->
    <a href="{{urlRechazo}}">
        <button>{{parte6}}</button>
    </a>

</body>

</html>