<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>



<body>
    <!-- 
    Es un Email Normal
    {{ tokenEmail }}
    <button onclick="confirmarEmail('5afeoumkhmcse7gbrscbse7w9zavdbj7g')"> CONFIRMAR</button> -->
    <h1>{{parte2}}</h1>
    <p>{{parte3}}</p>
    <a href="{{urlConfirmar}}">
        <button>{{parte4}}</button>
    </a>

    <p>{{parte5}}</p>
    <a href="{{urlNuevoEmail}}">
        {{urlNuevoEmail}}
    </a>

</body>


</script>

</html>