<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div style="width: 100%;">
        <div style="font-family:verdana;font-size:12px;color:#555555;line-height:14pt; width:590px;  box-shadow: 2px 11px 16px -2px black; margin: auto;">

            <div style="background-color:#F2EDEB;">
                <div style="padding-left:15px;padding-right:15px;padding-bottom:1px;">
                    <div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v2texto2}} {{nombreUser}}
                        </div>
                    </div>
                    <div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto3}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto4}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto5}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto6}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto7}}
                        </div>
                    </div>
                    <div>
                        <div style="padding-top:10px;text-align: center; ">
                            <div style="text-align:center;font-weight:regular;font-size:12px">
                                {{m10v3texto8}}
                            </div>
                        </div>
                    </div>                  
                </div>
            </div>
            <div style="text-align: center; padding-top: 20px; padding-bottom: 20px; background-color: #F2EDEB;">
                <img alt="Header Email"
                    src="  https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
                    style="border:none" height="50px" width="50px" class="CToWUd">
                <div style="text-align: center; font-family:verdana;">
                    <div>
                        <b>{{contact}}</b>
                    </div>
                    <div>
                        <b>www.gazelook.com</b>
                    </div>
                </div>
                <!-- <div style="padding-top:30px;padding-left:15px;">
                        <img alt="Footer Email" src="{{urlFooterEmail}}" style="border:none" class="CToWUd">
                    </div> -->
            </div>
        
        </div>
    </div>

</body>


</html>