<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{m10v3texto3}}</title>
</head>

<body>
    <div style="width: 100%;">

        <div
            style="font-family:verdana;font-size:12px;color:#000;line-height:14pt; width: auto; max-width:590px; margin: auto; ">
            <div style="width: 100%; text-align: center; ">
             
                    <img alt="headerMail"
                        src="{{urlHeaderEmail}}"
                        style="border:none; object-fit: contain;  "  width="100%"  height="100px"
                    >
                
            </div>
            <div
                style="background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/mail/body-mail.png'); background-repeat: no-repeat; background-size: 100% 100%;">

                <div style="padding-left:30px;padding-right:30px; padding-top:20px; color: #000;">
                    <div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto1}} {{nombreUser}}
                        </div>
                    </div>
                    <div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto3}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto4}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto5}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto6}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:12px">
                            {{m10v3texto7}}
                        </div>
                    </div>
                    <div>
                        <div style="padding-top:10px;text-align: center; ">
                            <div style="text-align:center;font-weight:regular;font-size:12px">
                                {{m10v3texto8}}
                            </div>
                        </div>
                    </div>                  
                </div>
                <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                    <img alt="Header Email"
                        src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
                        style="border:none" height="50px" width="50px">
                    <div style="text-align: center; font-family:verdana;">
                        <div>
                            <b style="text-decoration: none;">{{contact}}</b>
                        </div>
                        <div>
                            <b style="text-decoration: none;">www.gazelook.com</b>
                        </div>
                    </div>

                </div>
            </div>
          
        
        </div>
    </div>

</body>


</html>