<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
</head>



<body>

    <p>{{parte2}}: <strong>{{nombre}}</strong></p>
    <p>{{parte3}}. {{parte4}}.</p>


    <a href="{{urlAceptar}}">
        <button>{{parte5}}</button>
    </a>

    <a href="{{urlCancelar}}">
        <button>{{parte6}}</button>
    </a>


</body>




</html>
