<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Errores del sistema</title>
    <link rel="stylesheet" href="css/emails.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>



<body>

    <h2>Error Detail</h2>
    <p><strong>Date:</strong> {{parte1}} </p>
    <p><strong>Status:</strong> {{parte2}} </p>
    <p><strong>Method:</strong> {{parte3}} </p>
    <p><strong>URL:</strong> {{parte4}} </p>
    <p><strong>IP Address:</strong> {{parte5}} </p>
    <p><strong>Browser:</strong> {{parte6}} </p>
    <p><strong>Content:</strong> {{parte7}} </p>

</body>


</script>

</html>