<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!--
    Es un Email Normal
    {{ tokenEmail }}
    <button onclick="confirmarEmail('5afeoumkhmcse7gbrscbse7w9zavdbj7g')"> CONFIRMAR</button> -->
    <p>{{parte2}}: <strong>{{ nombre }}</strong>  </p>
    <p>{{parte3}}.</p>
    <br>
    <p>{{parte4}}</p>

    <a href="{{urlCambiarEmail}}">
        <button>{{parte5}}</button>
    </a>

</body>

</script>

</html>