<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte1}}</title>
    <link rel="stylesheet" href="css/emails.css">
</head>



<body>

    <p>{{parte2}}: <strong>{{nombre}}</strong></p>
    <p>{{parte3}} <strong>{{nuevoEmail}}</strong></p>

    <a href="{{urlConfirmar}}">
        <button>{{parte4}}</button>
    </a>

    <p>{{parte5}}</p>
    <a href="{{urlNuevoEmail}}">
        {{urlNuevoEmail}}
    </a>

</body>


</script>

</html>