<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{subjectEmail}}</title>
</head>

<body>
    <div style="width: 100%;">

        <div
            style="font-family:verdana;font-size:12px;color:#000;line-height:14pt; width: auto; max-width:590px; margin: auto; ">
            <div style="width: 100%; text-align: center; ">
             
                    <img alt="headerMail"
                        src="{{urlHeaderEmail}}"
                        style="border:none; object-fit: contain;  "  width="100%"  height="100px"
                    >
                
            </div>
            <div
                style="background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/mail/body-mail.png'); background-repeat: no-repeat; background-size: 100% 100%;">

             
                <div style="padding-left:30px;padding-right:30px; padding-top:20px; color: #000;">
                    <div style="padding-left:15px;padding-right:15px;padding-bottom:1px; ">
                        <div style="border-bottom:1px solid #ededed"></div>
                        <div style="text-align:left">
                            <div>
                                <b>{{m10v1texto2}} {{nombreUser}},</b>
                            </div>
                            <div>
                                {{m10v1texto3}}
                            </div>
                        </div>
                        <hr>
                        <div>

                        </div>
                        <div>
                            <div>
                                <table style="width:100%;margin:5px 0">
                                    <tbody>
                                        <tr>
                                            <td style="text-align:left;font-weight:bold;font-size:12px">
                                                {{m10v1texto5}}
                                            </td>
                                            <td style="text-align:center;font-weight:bold;font-size:12px" width="166">
                                                {{fechaTransaccion}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;font-weight:bold;font-size:12px">
                                                {{m10v1texto6}}
                                            </td>
                                            <td style="text-align:center;font-weight:bold;font-size:12px" width="186">
                                                {{numeroRecibo}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align:left;font-weight:bold;font-size:12px">
                                                {{m10v1texto7}}
                                            </td>
                                            <td style="text-align:center;font-weight:bold;font-size:12px" width="186">
                                                {{montoMonedaUsuario}} {{monedaUser}}
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                            <div></div>
                            <span></span>
                            <table style="width:100%;margin:5px 0" border="1px solid #000" cellspacing="0">
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;font-size:12px">

                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{m10v1texto8}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{m10v1texto9}}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align:left;font-size:12px">
                                            {{m10v1texto10}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{transferAmountUSD}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{transferAmountEUR}}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align:left;font-size:12px">
                                            {{m10v1texto11}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{comisionUSD}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{comisionEUR}}
                                        </td>

                                    </tr>
                                    <tr>
                                        <td style="text-align:left;font-size:12px">
                                            {{m10v1texto12}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{totalReceivedUSD}}
                                        </td>
                                        <td style="text-align:center;font-size:12px" width="auto">
                                            {{totalReceivedEUR}}
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
 
                           
                        </div>
                        <div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                            <img alt="Header Email"
                                src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
                                style="border:none" height="50px" width="50px">
                            <div style="text-align: center; font-family:verdana;">
                                <div>
                                    <b style="text-decoration: none;">{{contact}}</b>
                                </div>
                                <div>
                                    <b style="text-decoration: none;">www.gazelook.com</b>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>




</body>

</html>