<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div dir="ltr" style="font-family:verdana;font-size:12px;color:#555555;line-height:14pt"
        id="m_3280315920836242376m_829030537501496348gamma">
        <div style="width:590px">
            <div style="background-color: #F2EDEB";
               >
                <div style="padding-top:10px;padding-left:15px;">
                    <img alt="Header Email"
                        src="{{urlHeaderEmail}}"
                        style="border:none" class="CToWUd">
                </div>
            </div>
            <div style="background-color: #F2EDEB;"
              >
                <div style="padding-left:15px;padding-right:15px;padding-bottom:1px;">
                    <div style="border-bottom:1px solid #ededed"></div>
                    <div style="text-align:left">
                        <div>
                            <b>{{m10v1texto2}} {{nombreUser}},</b>
                        </div>
                        <div>
                            {{m10v1texto4}}
                        </div>
                    </div>
                    <hr>
                    <div>

                    </div>
                    <div>
                        <div>
                            <table style="width:100%;margin:5px 0" >
                                <tbody>
                                    <tr>
                                        <td style="text-align:left;font-weight:bold;font-size:12px">
                                            {{m10v1texto5}}
                                        </td>
                                        <td style="text-align:center;font-weight:bold;font-size:12px" width="166">
                                            {{fechaTransaccion}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;font-weight:bold;font-size:12px">
                                            {{m10v1texto6}}
                                        </td>
                                        <td style="text-align:center;font-weight:bold;font-size:12px" width="186">
                                            {{numeroRecibo}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:left;font-weight:bold;font-size:12px">
                                            {{m10v1texto7}}
                                        </td>
                                        <td style="text-align:center;font-weight:bold;font-size:12px" width="186">
                                            {{montoMonedaUsuario}} {{monedaUser}}
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                        <div></div>
                        <span></span>
                        <table style="width:100%;margin:5px 0" border="1px solid #000" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="text-align:left;font-size:12px">

                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{m10v1texto8}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{m10v1texto9}}
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left;font-size:12px">
                                        {{m10v1texto10}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{transferAmountUSD}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{transferAmountEUR}}
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left;font-size:12px">
                                        {{m10v1texto11}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{comisionUSD}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{comisionEUR}}
                                    </td>

                                </tr>
                                <tr>
                                    <td style="text-align:left;font-size:12px">
                                        {{m10v1texto12}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{totalReceivedUSD}}
                                    </td>
                                    <td style="text-align:center;font-size:12px" width="90">
                                        {{totalReceivedEUR}}
                                    </td>

                                </tr>
                            </tbody>
                        </table>

                    </div>


                </div>
                <div>

                    <div style="padding-top:30px;padding-left:15px;">
                        <img alt="Footer Email"
                            src="{{urlFooterEmail}}"
                            style="border:none" class="CToWUd">
                    </div>
                </div>
            </div>
           
        </div>
        
        <div class="adL">
            ​
            ​
        </div>
    </div>

</body>

</html>