<!DOCTYPE html>
<html lang="en">
​

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{m10v4texto1}}</title>
</head>
​

<body>
    <div style="width: 100%;">
        <!-- <div
            style="font-family:verdana;font-size:12px;color:#000;line-height:14pt; width: auto; max-width:590px; margin: auto; border: 1px solid #000; border-radius: 5px;"> -->

        <div
            style="font-family:verdana;font-size:12px;color:#000;line-height:14pt; width: auto; max-width:590px; margin: auto; ">

            <div
                style="background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/mail/body-mail.png'); background-repeat: no-repeat; background-size: 100% 100%;">

                <div style=" padding-top:20px;  border-top-left-radius: 5px; border-top-right-radius: 5px;">
                    <div style="padding-left:30px;padding-right:30px;">
                        <div>
                            <div style="text-align:center;font-weight:bold;font-size:19px; padding-bottom: 15px;">
                                {{m10v4texto1}}
                            </div>
                            <div style="text-align:center;font-weight:regular;font-size:15px; padding-bottom: 5px;">
                                {{m10v4texto2}} {{nombreUser}}:
                            </div>
                        </div>
                        <div>
                            <div style="text-align:center;font-weight:regular;font-size:15px">
                                {{m10v4texto4}}
                            </div>
                        </div>
                        <div>
                            <div style="padding-top:20px;text-align: center;">
                                <a href="{{urlConfirmar}}">
                                    <button
                                        style="border-radius: 5px; height: 40px; width: auto; padding-left: 12px; padding-right: 12px; background-color: white; color: black; border: 2px solid rgba(144, 159, 160, 0.75); font-size:15px;">
                                        {{m10v4texto5}} </button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
                    <img alt="Header Email"
                        src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
                        style="border:none" height="50px" width="50px" class="CToWUd">
                    <div style="text-align: center; font-family:verdana;">
                        <div>
                            <b style="text-decoration: none;">{{contact}}</b>
                        </div>
                        <div>
                            <b style="text-decoration: none;">www.gazelook.com</b>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    ​
    ​
</body>
​

</html>