<!DOCTYPE html>
<html lang="en">
​
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{m10v4texto1}}</title>
</head>
​
<body>
    <div style="width: 100%;">
        <div style="font-family:verdana;font-size:12px;color:#555555;line-height:14pt; width:590px; margin: auto; border: 1px solid #555555; border-radius: 20px;">
            <!-- <div style="background-color: #f7f6f6;">
                    <div>
                        <img alt="headerMail"
                            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/mail/header-mail-ENG.png"
                            style="border:none" class="CToWUd" width="100%">
                    </div>
                </div> -->
            <div style="background-color:#F2EDEB; padding-top:15px;  border-top-left-radius: 20px; border-top-right-radius: 20px;">
                <div style="padding-left:15px;padding-right:15px;padding-bottom:1px;">
                    <div>
                        <div style="text-align:center;font-weight:bold;font-size:24px; padding-bottom: 10px;">
                            {{m10v4texto1}}
                        </div>
                        <div style="text-align:center;font-weight:regular;font-size:16px; padding-bottom: 10px;">
                            {{m10v4texto2}} {{nombreUser}}
                        </div>
                    </div>
                    <div>
                        <div style="text-align:center;font-weight:regular;font-size:16px">
                            {{m10v4texto4}}
                        </div>
                    </div>
                    <div>
                        <!-- <div style="padding-top:10px;text-align: center; ">
                                <img alt="buttonMail"
                                    src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-boton-letra-5-51.svg"
                                    class="CToWUd" width="140px" height="30px">   
                                <div style="margin-top: -30px; color:#f0b823; font-weight: bold;">{{m10v4texto5}}</div>                            
                            </div> -->
                        <div style="padding-top:10px;text-align: center; ">
                            <a href="{{urlConfirmar}}">
                                <button
                                    style="border-radius: 12px; height: 30px; background-color: white; color: black; border: 2px solid rgba(144, 159, 160, 0.75); font-size:16px">
                                    {{m10v4texto5}} </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div style="text-align: center; padding-top: 20px; padding-bottom: 20px; background-color: #F2EDEB;border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
                <img alt="Header Email"
                    src="  https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png"
                    style="border:none" height="50px" width="50px" class="CToWUd">
                <div style="text-align: center; font-family:verdana;">
                    <div>
                        <b style="text-decoration: none;" >{{contact}}</b>
                    </div>
                    <div>
                        <b style="text-decoration: none;" >www.gazelook.com</b>
                    </div>
                </div>
                <!-- <div style="padding-top:30px;padding-left:15px;">
                        <img alt="Footer Email" src="{{urlFooterEmail}}" style="border:none" class="CToWUd">
                    </div> -->
            </div>
        </div>
    </div>
  
​
​
</body>
​
</html>
