<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{parte10}}</title>
    <link rel="stylesheet" href="css/emails.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>



<body>
    <!--
    Es un Email Normal
    {{ tokenEmail }}
    <button onclick="confirmarEmail('5afeoumkhmcse7gbrscbse7w9zavdbj7g')"> CONFIRMAR</button> -->
    <p>{{parte1}} <strong>{{ nombrePerfilNuevo }}.</strong> </p>{{parte2}} <strong>{{ nombrePropietario}}</strong> {{parte3}}
    <h2>{{ titulo }}</h2>
    <h3>{{parte4}} {{tituloCorto }}</h3>
    <p>{{parte5}} {{descripcion}}</p>

    <p>{{parte6}}</p>

    <a href="{{urlAceptar}}">
        <button>{{parte7}}</button>
    </a>
    <a href="{{urlCancelar}}">
        <button>{{parte8}}</button>
    </a>
    <p>{{parte9}}</p>



</body>


</script>

</html>